<div class="d-flex justify-content-end py-2 bg-success px-3 w-100">

    {% if request.user.is_authenticated %}
    <a class="mx-1 text-decoration-none fw-bold text-light"
    href="{% url 'account_logout' %}">{{request.user|title}}</a>
    <a class="mx-3 text-decoration-none fw-bold text-light"
        href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a class="mx-3 text-decoration-none fw-bold text-dark"
        href="{% url 'account_login' %}">Login</a>
    <a class="text-decoration-none fw-bold text-dark"
        href="{% url 'account_signup' %}">Register</a>
    {% endif %}


</div>
<a class="text-decoration-none"
    href="/">
    <div
        class="fs-3 fw-bold text-end mb-5 border-bottom bg-dark text-light py-4 px-3 w-100">
        Accountant General's Department</div>
</a>